<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.spring.model.mapper.MemberMapper">
    <!-- resultMap : 조회된 resultSet의 결과를 특정 객체에 맵핑할 맵핑정보를 기술하는 것 -->
    <resultMap id="memberResultMap" type="Member">
        <result column="MEMBER_ID" property="memberId"/>
        <result column="EMAIL" property="email"/>
        <result column="MEMBER_PWD" property="memberPwd"/>
        <result column="MEMBER_NAME" property="memberName"/>
        <result column="PHONE" property="phone"/>
        <result column="ENROLL_DATE" property="enrollDate"/>
        <result column="MODIFY_DATE" property="modifyDate"/>
        <result column="STATUS" property="status"/>
        <result column="ROLE" property="role"/>
    </resultMap>
    <insert id="addMember" parameterType="Member">
        INSERT INTO MEMBER
        (
            MEMBER_ID,
            EMAIL,
            MEMBER_PWD,
            MEMBER_NAME,
            PHONE

        )
        VALUES(
            SEQ_MEMBER_ID.NEXTVAL,
            #{email},
            #{memberPwd},
            #{memberName},
            #{phone}
        )
    </insert>
</mapper>